// Define a mixin for horizontal margins
@mixin horizontal-margins($left, $right) {
  margin-left: $left;
  margin-right: $right;
}

// Apply the mixin to body
body {
  @include horizontal-margins(10px, 10px);
}

// Apply the mixin to div
div {
  @include horizontal-margins(15px, 15px);
}